/* Fade out current container */
.overview-leave {
  opacity: 1;
}

.overview-leave-active {
  transition: opacity 0.3s linear;
}

.overview-leave-to {
  opacity: 0;
}

/* Fade in the next container */
.overview-enter {
  opacity: 0;
}

.overview-enter-active {
  transition: opacity 0.3s linear;
}

.overview-enter-to {
  opacity: 1;
}
