.info {
  background: var(--colorDarkGrey);
  overflow-y: scroll;
  overflow-x: hidden;
}

.scene-one {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.detail__title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  font-size: 13rem;
  letter-spacing: 0.05em;
  color: #101010;
  position: relative;
  z-index: 1;
  left: 7vw;
  top: 25vh;
}

.info .subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 5.5rem;
  text-align: left;
}

.description {
  font-family: var(--font);
  font-size: 1.4rem;
  line-height: 160%;
  padding-bottom: 2rem;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  index: 10;
}

.section-one {
  background-color: var(--colorDarkGrey);
}

.one-wrapper {
  width: 35rem;
  padding-top: 30rem;
  padding-left: 60vw;
}

.section-two {
  background-color: var(--colorDarkGrey);
  height: 100vh;
}

.two-wrapper {
  width: 35rem;
  padding-top: 10rem;
  padding-left: 7vw;
}

.section-three {
  background-color: var(--colorDarkGrey);
}

.section-four {
  background-color: var(--colorDarkGrey);
}

.section-five {
  background-color: var(--colorDarkGrey);
}
