.trailer {
  background-color: #29245e;
}

.movie__title-trailer {
  color: white;
  font-family: var(--font);
  font-weight: 900;
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  z-index: 15;
  position: absolute;
  bottom: 13vh;
  left: 7vw;
}

.movie__title-country {
  color: white;
  opacity: 0.7;
  font-family: var(--font);
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  z-index: 15;
  position: absolute;
  bottom: 5vh;
  left: 7vw;
}

.trailer-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.line {
  width: 100vw;
  height: 1.5px;
  background-color: white;
  position: absolute;
  z-index: 2;
  top: 50%;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.svg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.svg-mask {
  width: 100%;
  height: 100%;
  overflow: visible;
  display: block;
}

.svg-mask mask rect {
  fill: white;
}

.svg-mask > rect {
  fill: #29245e;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}

video {
  min-height: 100%;
  min-width: 100%;
  height: 150%;
  width: 150%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.trailer-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.trailer .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 10;
  cursor: pointer;
}

.round {
  position: absolute;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.round:hover {
  border: 2px solid var(--colorLightBlue);
}

.cta {
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.cta .arrow {
  left: 30%;
}
.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 1px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 16px;
  transform: rotate(90deg);
}
.second-arrow {
  margin-bottom: 8px;
}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateY(0px) rotate(90deg) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateY(10px) rotate(90deg) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateY(-10px) rotate(90deg) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateY(0px) rotate(90deg) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.first-arrow.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.round:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round:hover .arrow.first-arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
