html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(107.07deg, #29469A 0%, #29245E 100%);
  color: #ffffff;
  font-family: calluna, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  /* height: 100%; */
}

canvas { 
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.content {
  display: flex;
}

#container {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* OVERVIEW */

.overview {
  margin: 7rem 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 35vw;

}

.overview__title {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  width: 42rem;
  margin-bottom: 7rem;
}

.list {
  overflow: scroll;
  width: 100%;
  height: 72.5vh;
}

.list__item {
  display: flex;
  align-items: flex-end;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 4rem;
}

.movie__info {
  padding-bottom: 2rem;
  margin-left: -3rem;
}

.movie__title {
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.1;
}

.movie__country {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.1;
}